.title {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000; /* Ensure it sits above other elements */
  background-color: #fff;
  border-radius: 12px;
  box-sizing: content-box;
  color: #000;
  min-height: 20px;
  padding: 4px 8px 4px 8px;
  font-size: 16px; /* Use px for consistent font size */
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.valueText {
  font-weight: 500;
  color: #334455;
}